{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Step 3: Smart Edit{% endblock title %}</h2>
{% endblock header %}

{% block scripts %}
    <script>
        function copyToClipboard() {
            var copyText = document.getElementById("editResults");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(copyText.value);
            document.getElementById("copyAlert").textContent = "Text copied to clipboard."
        }

        function textChanges() {
            var copyAlert = document.getElementById("copyAlert");
            if (copyAlert.textContent != "") {
                copyAlert.textContent = "";
            }
        }
    </script>
{% endblock scripts %}

{% block content %}
    <div class="compare-container">
        <div class="left">
            <p>Original:</p>
            <textarea readonly name="transcResults" id="transcResults2"
                rows="15">{{ transcript_res }}</textarea>
            <div class="back-button-container">
                <button onclick="history.back()">Back &lt;&lt; Transcribe</button>
            </div>
        </div>
        <div class="right">
            <p>Smart Edit:</p>
            <textarea name="editResults" id="editResults"
                oninput="textChanges()"
                rows="15">{{ edit_res }}</textarea>
            <div class="copy-button-container">
                <button onclick="copyToClipboard()">Copy</button>
                <p id="copyAlert"></p>
            </div>
        </div>
        
    </div>
    
    
    
    
    
{% endblock content %}