{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Step 3: Smart Edit{% endblock title %}</h2>
{% endblock header %}

{% block scripts %}
    <script>
        
    </script>
{% endblock scripts %}

{% block content %}
    <div class="content-container">
        <!-- <form method="post" action="/upload" class="content-container">

        </form> -->
        <button type="button" class="back-button to-transcribe"
                >Back &lt;&lt; Transcribe</button>
        <div class="edit-container">
            <p class="trans-res">{{ transcript_res }}</p>
            <form method="post" action="/edit-results" class="edit-options-container" >
                <p>Select the smart edit options below:</p>
                <input type="checkbox" id="para" value="para" name="para">
                <label for="para">Add paragraph breaks</label><br>
                <input type="checkbox" id="error" value="error" name="error">
                <label for="error">Correct grammatical and structural errors</label><br>
                <input name="editSubmit" type="submit" value="Submit">
            </form>
        </div>
    </div>
    
    
    
    
    
{% endblock content %}