{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Step 1: Record or Upload Audio{% endblock title %}</h2>
{% endblock header %}

{% block scripts %}
    <script type="text/javascript">
        navigator.mediaDevices.getUserMedia({audio: true}).then(stream => {handlerFunction(stream)});
        console.log("Test");

        const startRecord = document.getElementById("startRecord");
        const stopRecord = document.getElementById("stopRecord");

        function handlerFunction(stream) {
            rec = new MediaRecorder(stream);
            rec.ondataavailable = e => {
                audioChunks.push(e.data);
                if (rec.state == "inactive") {
                    let blob = new Blob(audioChunks, {type: 'audio/mpeg-3'});
                    const recordedAudio = document.getElementById("recordedAudio");
                    recordedAudio.src = URL.createObjectURL(blob);
                    recordedAudio.controls = true;
                    recordedAudio.autoplay = false;
                    return blob;
                }
            }
        }

        // function sendData(data) {
        //     var form = new FormData();
        //     form.append('file', data, 'recording.mp3');
        //     form.append('title', 'recording.mp3');
        //     console.log(data);
        // }


        startRecord.onclick = e => {
            console.log('Recording started');
            startRecord.disabled = true;
            stopRecord.disabled = false;
            audioChunks = [];
            rec.start();
        }

        stopRecord.onclick = e => {
            console.log('Recording stopped');
            startRecord.disabled = false;
            stopRecord.disabled = true;
            rec.stop();
        }

    </script>
    <!-- <script type="text/javascript">
        console.log("Hello world!");
    </script> -->
{% endblock scripts %}

{% block content %}
    <div class="audio">
        <div class="record card">
            <img src="{{ url_for('static', filename='home-audio-mic.png') }}">
            <div>
                <h3>Record</h3>
                <p>Enable browser access to your microphone.</p>
                <p>
                    <button id="startRecord">Start recording</button>
                    <button id="stopRecord" disabled>Stop recording</button>
                </p>
                <audio id="recordedAudio"></audio>
                <form action="/record", method="post">
                    <input type="submit" value="Submit"/>
                </form>
                <!-- <form action="/record", method="post" enctype="multipart/form-data">
                    <input type="submit" value="Start recording"/>
                </form> -->
            </div>
        </div>

        <div class="upload card">
            <img src="{{ url_for('static', filename='home-audio-upload.png') }}">
            <div>
                <h3>Upload</h3>
                <p>File formats: .mp3</p>
                <form action="/upload", method="post" enctype="multipart/form-data">
                    <input type="file" name="audio-file"/>
                    <input type="submit" value="Submit"/>
                </form>
                <p class="warning">{{ warning }}</p>
            </div>
            
        </div>
    </div>
    <!-- <div class="content transcribe">
        <h3>Transcribe</h3>
    </div>
    <div class="content paragraph-breaks">
        <h3>Add paragraph breaks</h3>
    </div>
    <div class="content edit">
        <h3>Edit</h3>
    </div>
    <div>
        <p>
            AI Assistant Response: {{ content }}
            Learn more about this project by visiting the <a href="{{ url_for('pages.past') }}">Past Recordings page</a>. 
        </p> 
    </div> -->
    
{% endblock content %}