{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Step 3: Smart Edit{% endblock title %}</h2>
{% endblock header %}

{% block scripts %}
    <script>
        
    </script>
{% endblock scripts %}

{% block content %}
    <div class="content-container">
        <!-- <form method="post" action="/upload" class="content-container">

        </form> -->
        <textarea name="editResults" id="editResults"
                  rows="10">{{ edited }}</textarea>
    </div>
    
    
    
    
    
{% endblock content %}