{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Step 2: Transcribe{% endblock title %}</h2>
{% endblock header %}

{% block scripts %}
    <script>
        function copyToClipboard() {
            var copyText = document.getElementById("transcriptionResults");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(copyText.value);
            document.getElementById("copyAlert").textContent = "Text copied to clipboard."
        }
        
        function textChanges() {
            var copyAlert = document.getElementById("copyAlert");
            if (copyAlert.textContent != "") {
                copyAlert.textContent = "";
            }
        }


    </script>
{% endblock scripts %}

{% block content %}
    <div class="content-container">
        <div class="back-button-container">
            <p>File uploaded: {{ filename }}</p>
            <button onclick="history.back()">Back &lt;&lt; Upload</button>
        </div>
        <p>Transcription results:</p>
    
        <form method="post" action="/edit" class="content-container">
            <textarea name="transcriptionResults" id="transcriptionResults"
                      oninput="textChanges()"
                      rows="10">{{ transcription }}</textarea>
            <div class="buttons-container">
                <div class="copy-button-container">
                    <button onclick="copyToClipboard()">Copy</button>
                    <p id="copyAlert"></p>
                </div>
                <div class="edit-options">
                    <p>Select the smart edit options below:</p>
                    <input type="checkbox" id="para" value="para" name="para">
                    <label for="para">Add paragraph breaks</label><br>
                    <input type="checkbox" id="error" value="error" name="error">
                    <label for="error">Correct grammatical and structural errors</label><br>
                    <input name="editSubmit" type="submit" value="Next >> Smart Edit">
                </div>
                <!-- <div>
                    <input name="next" type="submit" value="Next >> Smart Edit">
                </div> -->
            </div>
        </form>
    </div>
    

    
    
    <!-- <div class="content transcribe">
        <h3>Transcribe</h3>
    </div>
    <div class="content paragraph-breaks">
        <h3>Add paragraph breaks</h3>
    </div>
    <div class="content edit">
        <h3>Edit</h3>
    </div>
    <div>
        <p>
            AI Assistant Response: {{ content }}
            Learn more about this project by visiting the <a href="{{ url_for('pages.past') }}">Past Recordings page</a>. 
        </p> 
    </div> -->
    
{% endblock content %}